.user__info
  .user__info__header
    .user__info__header__title
      発送元・お届け先住所変更
    -# エラーメッセージ--------------------------------------------------------
    = render 'layouts/error_message', model: @delivery_information
  -# 名前登録-----------------------------------------------------------------
  .user__info__main
    = form_with model:@delivery_information,local: true do |f|
      .label_content
        = label_tag :name, "お名前",{class:"label"}
        .required-mark
          必須
      .field
        = f.text_field :family_name, {class:"box-style",placeholder:"例）山田"}
        = f.text_field :first_name, {class:"box-style",placeholder:"例）彩"}
      -# 名前登録（カナ）-----------------------------------------------------------------
      .label_content
        = label_tag :name_kana, "お名前（カナ）",{class:"label"}
        .required-mark
          必須
      .field
        = f.text_field :family_name_kana, {class:"box-style",placeholder:"例）ヤマダ"}
        = f.text_field :first_name_kana, {class:"box-style",placeholder:"例）アヤ"}
      -# 郵便番号-----------------------------------------------------------------
      .label_content
        = label_tag :postal_code, "郵便番号",{class:"label"}
        .required-mark
          必須
      .postal-code-remark
        ※ハイフンは記入しないでください
      .field
        = f.text_field :postal_code, {class:"box-style",placeholder:"例）123456"}
      -# 都道府県-----------------------------------------------------------------
      .label_content
        = label_tag :state_id, "都道府県",{class:"label"}
        .required-mark
          必須
      .field
        = f.collection_select :state_id ,State.all, :id, :name ,prompt: "---",class:"state-box-style"

      -# 市区町村名-----------------------------------------------------------------
      .label_content
        = label_tag :city, "市長町村",{class:"label"}
        .required-mark
          必須
      .field
        = f.text_field :city, {class:"box-style",placeholder:"例）横浜市緑区"}
      -# 番地-----------------------------------------------------------------
      .label_content
        = label_tag :address_line_1, "番地",{class:"label"}
        .required-mark
          必須
      .field
        = f.text_field :address_line_1, {class:"box-style",placeholder:"例）青山１−１"}
      -# 建物名-----------------------------------------------------------------
      .label_content
        = label_tag :address_line_2, "建物名",{class:"label"}
        .any-mark
          任意
      .field
        = f.text_field :address_line_2, {class:"box-style",placeholder:"例）柳ビル103"}
      -# 電話番号-----------------------------------------------------------------
      .label_content
        = label_tag :tel, "電話番号",{class:"label"}
        .any-mark
          任意
      .field
        = f.text_field :tel, {class:"box-style",placeholder:"例）09012345678"}
        - if params[:post_id]
          = hidden_field_tag(:post_id, @post.id)
          -# hidden_field_tag(要素名 [, 値, オプション])
        = f.submit "登録する", {class: "button"}
