=render "posts/header"
.mypage
  -# 左メニュ-
  = render "menu"
  -# 右側
  .profile
    .profile__header
      プロフィール
    .profile__body
      = form_with model:@profile do |f|
        %label.label
          .profile__body__default_img
            = f.file_field :image, class: "profile_img"
          .profile__body__nickname
            = current_user.nickname
        .profile__body__text
          = f.text_field :introduction, {class: "profile__body__text__form",placeholder:"自己紹介文を書きましょう！"}
          = f.submit "変更する", {class: "profile__body__text__button"}

=render "posts/app-banner"
=render "posts/footer"
