.leftmenu
  %ul.leftmenu__ul
    %li.leftmenu__ul__li
      = link_to profiles_path, class: "menu-content" do
        マイページ
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to new_profile_path, class: "menu-content" do
        プロフィール
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")

      -# profileコントロール次第で、下記コメントアウトに変更する可能性があるため残しておく------------------
      
      -# -if @profile.persisted?
      -#   = link_to edit_profile_path(@profile.id), class: "menu-content" do
      -#     プロフィール
      -#     .angle-icon
      -#       =icon("fa","angle-right",class:"angle-icon")
      -# -else
      -#   = link_to new_profile_path, class: "menu-content" do
      -#     プロフィール
      -#     .angle-icon
      -#       =icon("fa","angle-right",class:"angle-icon")

    %li.leftmenu__ul__li
      = link_to new_user_information_path, class: "menu-content" do
        本人情報
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to new_delivery_information_path, class: "menu-content" do
        発送先・お届け先住所
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to '#', class: "menu-content" do
        いいね！一覧
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to credits_path , class: "menu-content" do
        お支払い方法
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to edit_user_registration_path, class: "menu-content" do
        ニックネーム・メール
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")
    %li.leftmenu__ul__li
      = link_to destroy_user_session_path, class: "menu-content" do
        ログアウト
        .angle-icon
          =icon("fa","angle-right",class:"angle-icon")

