=render "posts/header"
.mypage
  -# 左メニュ
  = render "menu"
  -# 右側
  .mypage__right
    .mypage__right__box
      .mypage__right__box__image
        -if @profile.present? && @profile.image.present?
          = image_tag @profile.image.url ,class:"profile_now_img"
        -else
          = image_tag 'member_photo_noimage_thumb.png', alt: 'No image', height: '60px', width: '60px'
      .mypage__right__box__nickname
        = current_user.nickname
      .mypage__right__box__exhibition
        出品数　20
    .mypage__right__box__text
      %p
        -if @profile.present?
          = @profile.introduction
=render "posts/app-banner"
=render "posts/footer"
