=render "posts/header"
.mypage
  -# 左メニュ
  = render "profiles/menu"

  -# 右側
  .account-edit
    .account-edit__header
      .account-edit__header__title
        ニックネーム・メール・パスワード
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label "ニックネーム", class: "label_name"
          %br/
          = f.text_field :nickname, autofocus: true ,class:"box-style"
        .field
          = f.label :email, class: "label_name"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class:"box-style"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        -# .field
        -#   = f.label :password, class: "label_name"
        -#   %br/
        -#   %i (※変更が無い場合は空欄にしてください)
        -#   %br/
        -#   = f.password_field :password, autocomplete: "new-password",class:"box-style"
        -#   - if @minimum_password_length
        -#     %br/
        -#     %em
        -#       = @minimum_password_length
        -#       文字以上の半角英数字
        -# .field
        -#   = f.label :password_confirmation ,class: "label_name"
        -#   %br/
        -#   = f.password_field :password_confirmation, autocomplete: "new-password",class:"box-style"
        -# .field
        -#   = f.label :current_password
        -#   %i (we need your current password to confirm your changes)
        -#   %br/
        -#   = f.password_field :current_password, autocomplete: "current-password"
        .actions
          = f.submit "更新する",class: "actions_button"
      -#アカウント削除------------------------------------ 
      %h3 アカウントを削除しますか？
      %p
        #{button_to "OK", registration_path(resource_name),class:"actions_button_red" ,data: { confirm: "Are you sure?" }, method: :delete}
      -# = link_to "Back", :back

=render "posts/app-banner"
=render "posts/footer"

