.buy
  %header.header-logo
    = render partial: 'part_template/header'
  .buy-main
    .buy-container
      %h2.buy-container__title 購入内容の確認
      .buy-item
        .buy-item__image
          = image_tag @post.images.first.image.to_s, class: 'img'
        .buy-item__details
          .buy-item__details__title
            %p
            = @post.item_name
          .buy-item__details__price
            %p
            &yen;
            = @post.price
            (税込) 送料込み

      .buy-content
        .buy-content__price
          .buy-content__price__amount
            %h2 支払い金額
            %h2
            &#165
            = @post.price

        .buy-content__payment
          %h2  支払い方法
          - if @userCard.present?
            .container
              .creditcard-info
                = image_tag "creditcards/#{@card_image}", height:'50', alt:'card-logo'
                %p.creditcard-info__number
                  = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
                %p.creditcard-info__period 
                = @exp_month + " / " + @exp_year
              = link_to "削除する", post_buy_path(current_user.credit.id, post_id: @post.id), method: :delete, class:"creditcard-info__delete"
          - else
            .new-card
              = link_to new_buy_credit_path(post_id: @post.id) do
                %p
                  %i.fas.fa-cog.fa-spin
                  登録してください
        .buy-content__address
          %h2  配送先
          -if @deli_info.present?
            - @deli_info.each do |deli_info|
              %table
                %tr
                  %td.label お名前
                  %td
                    =deli_info.family_name
                    =deli_info.first_name
                    様
                %tr
                  %td.label フリガナ
                  %td
                    =deli_info.family_name_kana
                    =deli_info.first_name_kana
                    様
                %tr
                  %td.label 郵便番号
                  %td
                    〒
                    =deli_info.postal_code
                %tr
                  %td.label 住所-1
                  %td
                    =deli_info.state.name
                %tr
                  %td.label 住所-2
                  %td
                    =deli_info.city
                    =deli_info.address_line_1
                %tr
                  %td.label 建物名
                  %td
                    =deli_info.address_line_2
                %tr
                  %td.label お電話番号
                  %td
                    =deli_info.tel
                %a
                = link_to edit_delivery_information_path(current_user.delivery_information.id, post_id: @post.id) do
                  %p
                    %i.fas.fa-cog.fa-spin
                    変更したい場合はこちらをクリック

          -else
            %a
            = link_to new_delivery_information_path(post_id: @post.id)  do
              %p
                %i.fas.fa-cog.fa-spin
                登録してください
        .buy-content__info
          = form_tag(action: :buy, method: :post) do
            %button.buy-content__info__btn 購入する
          
  %footer
    = render partial: 'part_template/footer'