.wrapper
  = render "header"
  = render "main"
  = render "app-banner"
  = render "footer"

-if user_signed_in?
  %a.exhibition{href:new_post_path}
    .exhibitionBtn
      %span.exhibitionBtn__text 出品
      = image_tag 'icon_camera.png', alt: 'no image', class: 'exhibitionBtn__icon'
-else
  %a.exhibition{href:new_user_session_path}
    .exhibitionBtn
      %span.exhibitionBtn__text 出品
      = image_tag 'icon_camera.png', alt: 'no image', class: 'exhibitionBtn__icon'