.new__main
  = render "part_template/header"

  .new__main__post
    .new__main__post__top
      .new__main__post__top__content
        .new__main__post__top__content__upper
          出品画像
          .new__main__post__top__content__upper__block
            必須
        .new__main__post__top__content__text
          最大10枚までアップロードできます
        .new__main__post__top__content__upload
          .new__main__post__top__content__upload__camera
            = form_with do |f|
              = f.label :image, class: "new__main__post__top__content__upload__camera__label" do
                = icon("fas fa-camera", class: `icon`)
                = f.file_field :image, class: "new__main__post__top__content__upload__camera__file"

          .new__main__post__top__content__upload__character
            ドラッグアンドドロップ
            <br>
            またはクリックしてファイルをアップロード
      
    .new__main__post__top__second 
      .new__main__post__top__second__content
        .new__main__post__top__second__content__upper
          商品名 
          .new__main__post__top__second__content__upper__block
            必須
        .new__main__post__top__second__content__input-box
          = form_with do |f|
            = f.text_field :name, {class: `new__main__post__top__second__content__input-box`, placeholder: '40文字まで'}
        .new__main__post__top__second__content__text
          商品の説明
          .new__main__post__top__second__content__text__block
            必須
        .new__main__post__top__second__content__area   
          = form_with do |f|
            = f.text_area :name, {class: `new__main__post__top__second__content__box__area`, placeholder: ' 商品の説明　(必須 1000字以内)&#13;&#10(色、素材、重さ、定価、注意点など)&#13;&#10&#13;&#10;例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。&#13;&#10あわせやすいのでおすすめです'.html_safe}
    .new__main__post__top__third
      .new__main__post__top__third__content
        .new__main__post__top__third__content__details
          商品の詳細
        .new__main__post__top__third__content__category
          カテゴリー
          .new__main__post__top__third__content__category__block
            必須
        .new__main__post__top__third__content__select
          = form_with do |f|
            = f.select :budget_d, [["選択してください", 0],["レディース", 1],["メンズ", 2],["ベビー・キッズ", 3],["インテリア・住まい・小物", 4],["本・音楽・ゲーム", 5],["おもちゃ・ホビー・グッズ", 6],["コスメ・香水・美容", 7],["家電・スマホ・カメラ", 8],["スポーツ・レジャー", 9],["ハンドメイド", 10],["チケット", 11],["自動車・オートバイ", 12], ["その他", 13]], {}, {class: "new__main__post__top__third__content__select__form"}
        .new__main__post__top__third__content__brand
          ブランド
          .new__main__post__top__third__content__brand__block
            任意
        .new__main__post__top__third__content__form
          = form_with do |f|
            = f.text_field :name, {class: `new__main__post__top__third__content__form__text`, placeholder: '例） シャネル'}
        .new__main__post__top__third__content__status
          商品の状態
          .new__main__post__top__third__content__status__block
            必須
        .new__main__post__top__third__content__choice
          = form_with do |f|
            = f.select :budget_d, [["選択してください", 0],["新品、未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし", 3],["やや傷や汚れあり", 4],["傷や汚れあり", 5],["全体的に状態が悪い", 6],], {}, {class: "new__main__post__top__third__content__choice__form"}
    .new__main__post__top__fourth
      .new__main__post__top__fourth__content
        .new__main__post__top__fourth__content__text
          配送について
          .new__main__post__top__fourth__content__text__help
            %a{href: `#`}
              ヘルプ
              
              
        .new__main__post__top__fourth__content__delivery 
          配達料の負担
          .new__main__post__top__fourth__content__delivery__block
            必須
        .new__main__post__top__fourth__content__select
          = form_with do |f|
            = f.select :budget_d, [["選択してください", 0],["送料込み（出品者負担）", 1],["着払い（購入者負担）", 2],], {}, {class: "new__main__post__top__third__content__choice__form"}
        .new__main__post__top__fourth__content__shipping-origin
          発送元の地域
          .new__main__post__top__fourth__content__shipping-origin__block
            必須
        .new__main__post__top__fourth__content__choice
          = form_with do |f|
            = f.select :budget_d, [["選択してください", 0],["北海道", 1],["青森県", 2],["岩手県", 3],["宮城県", 4],["秋田県", 5],["山形県", 6],["福島県", 7],["茨城県", 8],["栃木県", 9],["群馬県", 10],["埼玉県", 11],["千葉県", 12], ["東京都", 13],["神奈川県", 14],["新潟県", 15],["富山県", 16],["石川県", 17],["福井県", 18],["山梨県", 19],["長野県", 20],["岐阜県", 21],["静岡県", 22],["愛知県", 23],["三重県", 24],["滋賀県", 25],["京都府", 26],["大阪府", 27],["兵庫県", 28],["奈良県", 29],["和歌山県", 30],["鳥取県", 31],["島根県", 32],["岡山県", 33],["広島県", 34],["山口県", 35],["徳島県", 36],["香川県", 37],["愛媛県", 38],["高知県", 39],["福岡県", 40],["佐賀県", 41],["長崎県", 42],["熊本県", 43],["大分県", 44],["宮崎県", 45],["鹿児島県", 46],["沖縄県", 47],["未定", 48],], {}, {class: "new__main__post__top__fourth__content__choice__form"}
        .new__main__post__top__fourth__content__days
          発送までの日数
          .new__main__post__top__fourth__content__days__block
            必須
        .new__main__post__top__fourth__content__selection
          = form_with do |f|
            = f.select :budget_d, [["選択してください", 0],["1~2日で発送", 1],["2~3日で発送", 2],["4~7日で発送", 3],], {}, {class: "new__main__post__top__fourth__content__selection__form"} 
    .new__main__post__top__fifth
      .new__main__post__top__fifth__content
        .new__main__post__top__fifth__content__text
          価格 (¥300~9,999,999)
          .new__main__post__top__fifth__content__text__help
            %a{href: `#`}
              ヘルプ
        .new__main__post__top__fifth__content__price
          販売価格
          .new__main__post__top__fifth__content__price__block
            必須
          .new__main__post__top__fifth__content__price__dollar
            ¥
          .new__main__post__top__fifth__content__price__input-box
            = form_with do |f|
              = f.text_field :name, {class: `new__main__post__top__fifth__content__price__input-box`, placeholder: '0'}
        .new__main__post__top__fifth__content__fee
          販売手数料 (10%)
    .new__main__post__top__sixth
      .new__main__post__top__sixth__content
        .new__main__post__top__sixth__content__text
          販売利益
        .new__main__post__top__sixth__content__post
          .new__main__post__top__sixth__content__post__exhibition
            %button{class: "exhibition-button", type: "submit"}出品する
          .new__main__post__top__sixth__content__post__draft
            %button{class: "exhibition-button", type: "submit"}下書きに保存
          .new__main__post__top__sixth__content__post__return
            %a{href: `#`}
              もどる
        .new__main__post__top__sixth__content__note
          禁止されている
          %a{href: `#`}
            行為
          および
          %a{href: `#`}
            出品物
          を必ずご確認ください。
          %a{href: `#`}
            偽ブランド品
          や
          %a{href: `#`}
            盗品物
          などの販売は犯罪であり、法律により処罰される可能性があります。また、出品をもちまして
          %a{href: `#`}
            加盟店規約
          に同意したことになります。
  = render "part_template/footer"
  
  