
= render "posts/header"
%section.show
  -if user_signed_in? && @post.user_id == current_user.id
    .show__btn
      .show__btn__edit
        = link_to edit_post_path(@post) do
          編集
      .show__btn__delete
        = link_to post_path,method: :delete, data: { confirm: " 「#{@post.item_name}」を削除します。よろしいですか？"} do
          削除

  .showpage
    .showpage__grid
      .showpage__grid__left
        .show__title
          = @post.item_name
        .show__image
          .show__image__top
            %ul
              - @images.each do |y|
              
                %li.ImageTopLists
                  =image_tag y.image.url
          .show__image__grid            
            - @images.each do |y|
              .show__image__grid__list
                = link_to "#a" do
                  =image_tag y.image.url
            
        .show__yen
          = @post.price
          円
          %span.solle
            （税込み)
            = @post.postage_payment
        .show__btn
          -if user_signed_in?
            - if current_user.id == @post.user.id
              .user_buy_button
                購入できません。
            - else
              .user_buy_button
                = button_to  do
                  購入画面に進む
          - else
            .user_buy_button
              = button_to new_user_session_path do
                購入できません。(ログイン画面へ)


      .showpage__grid__right
        .show__discription
          =@post.description
        .show__table
          %table
            %tr
              %td.left
                出品者
              %td.right
                =@post.user.nickname
            %tr
              %td.left
                カテゴリー
              %td.right
                =@post.category.parent.parent.name
            %tr
              %td.left
                =@post.category.parent.name
              %td.right
                =@post.category.name
            %tr
              %td.left
                ブランド
              %td.right
                =@post.brand
            %tr
              %td.left
                商品サイズ
              %td.right
                = @post.size
            %tr
              %td.left
                商品の状態
              %td.right
                = @post.condition
            %tr
              %td.left
                配送料の負担
              %td.right
                = @post.postage_payment
            %tr
              %td.left
                配送方法
              %td.right
                らくらくメルカリ便
            %tr
              %td.left
                配送元地域
              %td.right
                = @post.shipping_area.name
            %tr
              %td.left
                発送日の目安
              %td.right
                = @post.arrival_days
        .show__likes
          =button_to do
            いいね！
        .sales_status
          - if @post.sales_status = true
            出品中です！
          - else 
            %span 
              売り切れました。

%section.selfExhibition
  %h2
    = @post.user.nickname
    の出品一覧
  .selfsLists
    - @post.user.posts.where(sales_status: true).first(6).each do |post|
      .selfsList
        =link_to post do 
          %figure.selfsList__image
            -# =post.images.each do |image|
            =image_tag post.images.first.image.url
          .selfsList__body
            %h3.name
              =post.item_name
            .details
              %ul
                %li
                  =post.price
                %li
                  0
              %p
                (税込み)
    

%section.selfExhibition
  %h2
    = @post.category.name
    の出品一覧
  .selfsLists
    - @post.category.posts.where(sales_status: true).first(6).each do |post|
      .selfsList
        =link_to post do 
          %figure.selfsList__image
            =image_tag post.images.first.image.url
          .selfsList__body
            %h3.name
              =post.item_name
            .details
              %ul
                %li
                  =post.price
                %li
                  0
              %p
                (税込み)
    

= render "posts/app-banner"
= render "posts/footer"
%a.exhibition{href:new_post_path}
  .exhibitionBtn
    %span.exhibitionBtn__text 出品
    = image_tag 'icon_camera.png', alt: 'no image', class: 'exhibitionBtn__icon'
