= render "posts/header"
%section.show
  -if user_signed_in? && @post.user_id == current_user.id
    .show__btn
      .show__btn__edit
        = link_to edit_post_path(@post) do
          編集
      .show__btn__delete
        = link_to post_path,method: :delete, data: { confirm: " 「#{@post.item_name}」を削除します。よろしいですか？"} do
          削除

  .showpage
    .showpage__grid
      .showpage__grid__left
        .show__title
          Tシャツ
        .show__image
          .show__image__top
            =image_tag @images.first.image.url
          .show__image__grid
            - @images.each do |y|
              .show__image__grid__list
                =image_tag y.image.url
            
        .show__yen
          500円 
          %span.solle
            （税込み）送料込み
        .show__btn
          = button_to  do
            購入画面に進む


      .showpage__grid__right
        .show__discription
          『Tシャツ』は、49回の取引実績を持つルンルンさんから出品されました。アズール（Tシャツ/カットソー(半袖/袖なし)/レディース）の商品で、群馬県から1~2日で発送されます。
        .show__table
          %table
            %tr
              %td.left
                出品者
              %td.right
                ルンルン
            %tr
              %td.left
                カテゴリー
              %td.right
                レディース
            %tr
              %td.left
                トップス
              %td.right
                Tシャツ/カットソー（半袖/半袖なし）
            %tr
              %td.left
                ブランド
              %td.right
                アズール
            %tr
              %td.left
                商品サイズ
              %td.right
                S
            %tr
              %td.left
                商品の状態
              %td.right
                目立った傷や汚れなし
            %tr
              %td.left
                配送料の負担
              %td.right
                送料込み(出品者負担)
            %tr
              %td.left
                配送方法
              %td.right
                らくらくメルカリ便
            %tr
              %td.left
                配送元地域
              %td.right
                群馬県
            %tr
              %td.left
                発送日の目安
              %td.right
                1~2日で発送
        .show__likes
          =button_to do
            いいね！

%section.selfExhibition
  %h2
    ルンルンさんの出品一覧
  .selfsLists
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)

%section.selfExhibition
  %h2
    カテゴリーに関する出品一覧
  .selfsLists
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)
    .selfsList
      =link_to do 
        %figure.selfsList__image
          =image_tag ("")
        .selfsList__body
          %h3.name
            product3
          .details
            %ul
              %li
                3000円
              %li
                0
            %p
              (税込み)

= render "posts/app-banner"
= render "posts/footer"
