=render "posts/header"
.mypage
  -# 左メニュ-
  = render "profiles/menu"
  -# 右側
  
  .user__info
    .user__info__header
      .user__info__header__title
        本人情報の登録
      .user__info__header__explanation
        お客様の本人情報をご登録ください。
      -# エラーメッセージ--------------------------------------------------------
      = render 'layouts/error_message', model: @user_information
    -# 名前登録-----------------------------------------------------------------
    .user__info__main
      = form_with model:@user_information, local: true do |f|
        .label_content
          = label_tag :name, "お名前",{class:"label"}
          .required-mark
            必須
        .field
          = f.text_field :family_name, {class:"box-style",placeholder:"例）山田"}
          = f.text_field :first_name, {class:"box-style",placeholder:"例）彩"}
        -# 名前登録（カナ）-----------------------------------------------------------------
        .label_content
          = label_tag :name_kana, "お名前（カナ）",{class:"label"}
          .required-mark
            必須
        .field
          = f.text_field :family_name_kana, {class:"box-style",placeholder:"例）ヤマダ"}
          = f.text_field :first_name_kana, {class:"box-style",placeholder:"例）アヤ"}
        -# 生年月日-----------------------------------------------------------------
        .label_content
          = label_tag :birth, "生年月日",{class:"label"}
          .required-mark
            必須
        .field
          .birth-box
          -# = f.date_select(:birth,use_month_numbers: true,start_year: 1900, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1),date_separator:'%s'),'年','月'+'日'
          != sprintf(f.date_select(:birth, with_css_classes:'XXXXX', prompt:"---",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        -# 郵便番号-----------------------------------------------------------------
        .label_content
          = label_tag :postal_code, "郵便番号",{class:"label"}
          .required-mark
            必須
        .postal-code-remark
          ※ハイフンは記入しないでください
        .field
          = f.text_field :postal_code, {class:"box-style",placeholder:"例）123456"}
        -# 都道府県-----------------------------------------------------------------
        .label_content
          = label_tag :state_id, "都道府県",{class:"label"}
          .required-mark
            必須
        .field
          = f.collection_select :state_id ,State.all, :id, :name ,prompt: "---",class:"state-box-style"
         
        -# 市区町村名-----------------------------------------------------------------
        .label_content
          = label_tag :city, "市長町村",{class:"label"}
          .required-mark
            必須
        .field
          = f.text_field :city, {class:"box-style",placeholder:"例）横浜市緑区"}
        -# 番地-----------------------------------------------------------------
        .label_content
          = label_tag :addless_line_1, "番地",{class:"label"}
          .required-mark
            必須
        .field
          = f.text_field :address_line_1, {class:"box-style",placeholder:"例）青山１−１"}
        -# 建物名-----------------------------------------------------------------
        .label_content
          = label_tag :address_line_2, "建物名",{class:"label"}
          .any-mark
            任意
        .field
          = f.text_field :address_line_2, {class:"box-style",placeholder:"例）柳ビル103"}
          = f.submit "登録する", {class: "button"}
-# フッター -----------------------------------------------------------------
=render "posts/app-banner"
=render "posts/footer"
